.contact > h1 {
    font-family: "Raleway";
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-box {
    width: 589px;
    height: 74px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.input-box::placeholder {
    font-family: "Raleway";
    font-size: 24px;
}

.message-box {
    width: 589px;
    height: 177px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.message-box::placeholder {
    font-family: "Raleway";
    font-size: 24px;
}