.footer-container {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-top: 2rem;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-family: "Raleway";
    font-size: 24px;
}

.website-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.website-logos > p {
    color: #fff;
    font-family: "Raleway";
    font-size: 24px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    margin-bottom: 1rem;
    margin-top: 10px;
}

.social-icons i {
    color: #fff;
    font-size: 30px;
}

.footer-title {
    width: 425px;
}

@media(max-width: 600px) {
    .footer-title {
        width: 360px;
    }
}