.service-cards {
    background: rgba(224, 224, 224, 0.5); 
    height: 400px;
}

.service-cards > h1 {
    font-family: "Raleway";
    font-size: 36px;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}

.card-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.card-one > p {
    font-family: "Raleway";
    font-size: 28px;
    line-height: 32px;
}

.card-one i {
    color: #000;
    font-size: 50px;
    margin-top: 1rem;
}

.card-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.card-two > p {
    font-family: "Raleway";
    font-size: 28px;
    line-height: 32px;
}

.card-two i {
    color: #000;
    font-size: 50px;
    margin-top: 1rem;
}

.card-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.card-three > p {
    font-family: "Raleway";
    font-size: 28px;
    line-height: 32px;
}

.card-three i {
    color: #000;
    font-size: 50px;
    margin-top: 1rem;
}

.card-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.card-four > p {
    font-family: "Raleway";
    font-size: 28px;
    line-height: 32px;
}

.card-four i {
    color: #000;
    font-size: 50px;
    margin-top: 1rem;
}

@media(max-width: 600px) {
    .service-cards {
        height: 73rem;
    }

    .cards-container {
      display: flex;
      flex-direction: column;
    }

    .card-one {
        margin: 15px;
    }

    .card-three {
        margin: 15px;
    }
  }

@media(max-width: 400px) {
    .service-cards {
        height: 73rem;
    }

    .cards-container {
      display: flex;
      flex-direction: column;
    }

    .card-one {
        margin: 15px;
    }

    .card-three {
        margin: 15px;
    }
  }